/* 
Samuel Mason
Samuel_Mason@student.uml.edu
*/

body {
	background-color: rgb(224, 204, 156);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
}



main {
	background-color: rgba(191, 90, 90, 0.774);
	width: 90%;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;	
}

#state {
	background-color: rgba(123, 167, 205, 0.329);
	width: 600px;
	height: fit-content;
	margin-bottom: 75px;
	display: grid;
	grid-template-areas: 
	"score rem rem"
	"score rem rem"
	"buttons rem rem";
}

#score-replace {
	display: flex;
	align-items: center;
	padding: 7px 0;
}

#score-wrapper {
	grid-area: score;
	display: flex;
	text-align: center;
	width: 100%;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.24);
	text-align: center;
	justify-content: center;
	align-items: center;
}

#replace {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.263);
	width: 100%;
	height: 80px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#options {
	grid-area: buttons;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	padding-top: 20px;
}

#options button {
	margin: 0 10px;
	
}

#tile-data {
	grid-area: rem;
	border: 2px ridge rgba(1, 178, 237, 0.406);
	border-collapse: collapse;
	text-align: center;
}

#tile-data th {
	background-color: rgba(128, 91, 38, 0.158);
}

#tile-data th, td {
	border: 2px ridge rgba(1, 178, 237, 0.267);
	padding: 2px;
}

#tile-data td:nth-child(even) {
	background-color: rgba(13, 126, 225, 0.336);
}

#tile-data td:nth-child(odd) {
	background-color: rgba(134, 185, 230, 0.304);
}

#board {
	background-image: url('images/Scrabble_Board_OneLine.png');
	background-repeat: no-repeat;
}

#board {
	display: grid;
	grid-template-columns: repeat(15, 6.225%);
	grid-template-rows: 80px;
	min-width: 1130px;
	height: 80px;
}

#square0 {
	position: relative;
	width: 89%;
	height: 64px;
	left: 5px;
	top: 7px;
}

#square1 {
	position: relative;
	width: 96%;
	height: 64px;
	left: 7px;
	top: 7px;
}

#square2 {
	position: relative;
	width: 94%;
	height: 64px;
	left: 14px;
	top: 7px;
}

#square3 {
	position: relative;
	width: 94%;
	height: 64px;
	left: 18px;
	top: 7px;
}

#square4 {
	position: relative;
	width: 91%;
	height: 64px;
	left: 23px;
	top: 7px;
}

#square5 {
	position: relative;
	width: 96%;
	height: 64px;
	left: 25px;
	top: 7px;
}

#square6 {
	position: relative;
	width: 90%;
	height: 64px;
	left: 31px;
	top: 7px;
}

#square7 {
	position: relative;
	width: 96%;
	height: 64px;
	left: 33px;
	top: 7px;
}

#square8 {
	position: relative;
	width: 91%;
	height: 64px;
	left: 39px;
	top: 7px;
}

#square9 {
	position: relative;
	width: 94%;
	height: 64px;
	left: 42px;
	top: 7px;
}

#square10 {
	position: relative;
	width: 94%;
	height: 64px;
	left: 47px;
	top: 7px;
}

#square11 {
	position: relative;
	width: 96%;
	height: 64px;
	left: 52px;
	top: 7px;
}

#square12 {
	position: relative;
	width: 93%;
	height: 64px;
	left: 58px;
	top: 7px;
}

#square13 {
	position: relative;
	width: 96%;
	height: 64px;
	left: 63px;
	top: 7px;
}

#square14 {
	position: relative;
	width: 93%;
	height: 64px;
	left: 68px;
	top: 7px;
}

.place {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid transparent;
}

#rack {
	background-image: url('images/scrabble-tile-holder-406774_640.png');
	background-repeat: no-repeat;
	width: 640px;
	height: 90px;
	margin-top: 50px;
}

#space {
	display: flex;
	justify-content: center;
	width: 87%;
	height: 80px;
	position: relative;
	top: 10px;
	left: 50px;
}

.tile-space {
	margin: 0 auto;
	width: 75px;
	height: 80px;
}

.tile {
	width: auto;
	height: auto;
}